# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db

.idea/

*.iml
resources/



*~
*.sw[mnpcod]
*.log
*.log.*
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.sass-cache/
.tmp/
.versions/
coverage/
dist/
tmp/
temp/
hooks/
plugins/ios.json
www/
$RECYCLE.BIN/

UserInterfaceState.xcuserstate
